{% extends 'single_pages/landing.html' %}
{% load static %}
{% block toon_content %}
    <div class="day_title d-flex justify-content-center">
        <div class="day_group">
            <p class="day_p">전체 웹툰 리스트</p>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'mon' %}">MON</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">TUE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">WED</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">THU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">FRI</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">SAT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">SUN</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
