{% load static %}


<div class="justify-content-between p-5">
  <div class="row container-fluid">
    <div class="col">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-muted" aria-current="page" href="#"><span style="color:green">[이벤트]</span>&nbsp;번역 무료 이용권 이벤트</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}"  width="82" height="46">
      </a>
    </div>
    <div class="col-3">
      <div class="row container-fluid">
        <ul class="mylist">
          <li><a class="text-muted" aria-current="page" href="#">로그인</a></li>
          <li><a class="text-muted" aria-current="page" href="#">회원가입</a></li>
          <li><a class="text-muted" aria-current="page" href="#">서버(드롭박스)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="row container-fluid">
      <a class="nav-link text-muted" href="#">작가페이지</a>
      <a class="nav-link text-muted" href="#">번역가페이지</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  </div>
</div>
