

.t1,.t2,.t3{
    float:left;
}

.day_title{
    margin-top:88px;
    width:100%;
}

.day_group{
    text-align:center;
}

.day_p {
    color : #396AFF;
    font-weight:bold;
    font-size:0.75rem;
}

.day_s {
    font-size:2.5rem;
    color:#666666;
}

.day_list{
    list-style:none;
}

.day_list li:first-child {
     color : #396AFF;
     font-weight:bold;
}
.day_list li {
       margin-bottom : 24px;
}
.day_list li a.no-unline:link {
   text-decoration:none;
}
.day_list li a.no-unline:visited {
   text-decoration:underline;
   text-underline-position: under;
}
.day_list li a.no-unline:hover {
   text-decoration:underline;
   text-underline-position: under;
}
.day_list li a.no-unline:active {
   text-decoration:none;
}